<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YahrooStyle</title>
</head>
<body>
    <h1>Bem vindo</h1>
    <hr>
    <h3>lista de perguntas</h3>

    <p>nome:<%= nome%></p>
    <p>trabalho:<%= trabalho%></p>
    <p>nome:<%= nomeCaixaPNC%></p>

    
    <% if (nome === 'Artur') {%>
        <h1>deu certo</h1>
    <%}%>

</body>
</html>