<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    
    <nav class="navbar navbar-light bg-primary" >
        <a class="navbar-brand" href="/">
            <button class= 'btn btn-success'>home</button>
        </a>
    </nav>


    
<div class="container">
    <hr>
    <h1><%= pergunta.title %></h1>
    <p><%= pergunta.description%></p>
    <form method= 'post' action="/salvarresposta">
        <input type="hidden" name="respostaId" value="<%=pergunta.id%>">
        <h1>Responder</h1>
                <textarea placeholder="resposta" class="form-control" name="corpo"></textarea>
                <br>
                <button class="btn btn-primary">Responder</button>
    </form>
    

</body>
</html>